--
-- PostgreSQL database dump
--

\restrict AjJe2H5R3HyVXc3pmES9a6VXECCgVWZ6ZhFcfiVUEgyJ0rv2pzZ5WB8zPYxGgjL

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: inv_evento; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inv_evento AS ENUM (
    'ENTRADA_FACTURA',
    'ENTRADA_MOSTRADOR',
    'VENTA_FACTURADA',
    'VENTA_MOSTRADOR',
    'AJUSTE'
);


--
-- Name: inv_libro; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inv_libro AS ENUM (
    'FISICO',
    'FISCAL_POS'
);


--
-- Name: inventory_book; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inventory_book AS ENUM (
    'FISICO',
    'POS'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categoria (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    parent_id integer
);


--
-- Name: categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.categoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.categoria_id_seq OWNED BY public.categoria.id;


--
-- Name: movimientos_inventario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movimientos_inventario (
    id integer NOT NULL,
    product_id integer NOT NULL,
    movement_type character varying(10) NOT NULL,
    quantity numeric(10,2) NOT NULL,
    movement_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reference character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    libro public.inv_libro DEFAULT 'FISICO'::public.inv_libro NOT NULL,
    evento public.inv_evento DEFAULT 'AJUSTE'::public.inv_evento NOT NULL,
    costo_unit_sin_iva numeric(12,4),
    tasa_iva numeric(6,4) DEFAULT 0.16 NOT NULL,
    costo_unit_con_iva numeric(12,4),
    precio_venta_unit numeric(12,4),
    proveedor_id bigint,
    inventory_book public.inventory_book DEFAULT 'FISICO'::public.inventory_book NOT NULL,
    CONSTRAINT chk_proveedor_en_entradas CHECK ((((evento = ANY (ARRAY['ENTRADA_FACTURA'::public.inv_evento, 'ENTRADA_MOSTRADOR'::public.inv_evento])) AND (proveedor_id IS NOT NULL)) OR (evento <> ALL (ARRAY['ENTRADA_FACTURA'::public.inv_evento, 'ENTRADA_MOSTRADOR'::public.inv_evento])))),
    CONSTRAINT movimientos_inventario_movement_type_check CHECK (((movement_type)::text = ANY ((ARRAY['IN'::character varying, 'OUT'::character varying, 'ADJUST'::character varying])::text[])))
);


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.movimientos_inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.movimientos_inventario_id_seq OWNED BY public.movimientos_inventario.id;


--
-- Name: producto_proveedor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.producto_proveedor (
    id bigint NOT NULL,
    proveedor_id bigint NOT NULL,
    product_id integer NOT NULL,
    supplier_sku text NOT NULL,
    descripcion_proveedor text,
    is_primary boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: producto_proveedor_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.producto_proveedor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: producto_proveedor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.producto_proveedor_id_seq OWNED BY public.producto_proveedor.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    categoria_id integer,
    unit character varying(20),
    min_stock numeric(10,2) DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    price numeric(10,2),
    codigo_cat character varying(20),
    codigo_pos character varying(50),
    marca character varying(50),
    aplicacion text,
    ubicacion text,
    descripcion_larga text,
    anio_inicio smallint,
    anio_fin smallint,
    dim_largo numeric(10,2),
    dim_ancho numeric(10,2),
    dim_alto numeric(10,2),
    equivalencia text
);


--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: proveedores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.proveedores (
    id bigint NOT NULL,
    nombre text NOT NULL,
    codigo_corto text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    rfc text
);


--
-- Name: proveedores_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.proveedores_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: proveedores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.proveedores_id_seq OWNED BY public.proveedores.id;


--
-- Name: stock_por_libro; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.stock_por_libro AS
 SELECT p.sku,
    mi.product_id,
    mi.libro,
    sum(mi.quantity) AS stock
   FROM (public.movimientos_inventario mi
     JOIN public.productos p ON ((p.id = mi.product_id)))
  GROUP BY p.sku, mi.product_id, mi.libro;


--
-- Name: stock_resumen; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.stock_resumen AS
 SELECT sku,
    product_id,
    COALESCE(sum(stock) FILTER (WHERE (libro = 'FISICO'::public.inv_libro)), (0)::numeric) AS stock_fisico,
    COALESCE(sum(stock) FILTER (WHERE (libro = 'FISCAL_POS'::public.inv_libro)), (0)::numeric) AS stock_pos,
    COALESCE(sum(stock), (0)::numeric) AS stock_total
   FROM public.stock_por_libro
  GROUP BY sku, product_id;


--
-- Name: v_stock_actual; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_stock_actual AS
 SELECT p.id AS product_id,
    p.sku,
    p.name,
    p.min_stock,
    COALESCE(sum(m.quantity), (0)::numeric) AS stock_actual
   FROM (public.productos p
     LEFT JOIN public.movimientos_inventario m ON (((m.product_id = p.id) AND (m.inventory_book = 'FISICO'::public.inventory_book))))
  GROUP BY p.id, p.sku, p.name, p.min_stock;


--
-- Name: v_stock_fisico; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_stock_fisico AS
 SELECT p.id AS product_id,
    p.sku,
    p.name,
    p.min_stock,
    COALESCE(sum(m.quantity), (0)::numeric) AS stock_fisico
   FROM (public.productos p
     LEFT JOIN public.movimientos_inventario m ON (((m.product_id = p.id) AND (m.inventory_book = 'FISICO'::public.inventory_book))))
  GROUP BY p.id, p.sku, p.name, p.min_stock;


--
-- Name: v_stock_pos; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_stock_pos AS
 SELECT p.id AS product_id,
    p.sku,
    p.name,
    COALESCE(sum(m.quantity), (0)::numeric) AS stock_pos
   FROM (public.productos p
     LEFT JOIN public.movimientos_inventario m ON (((m.product_id = p.id) AND (m.inventory_book = 'POS'::public.inventory_book))))
  GROUP BY p.id, p.sku, p.name;


--
-- Name: v_stock_compare; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_stock_compare AS
 SELECT f.product_id,
    f.sku,
    f.name,
    f.min_stock,
    f.stock_fisico,
    COALESCE(p.stock_pos, (0)::numeric) AS stock_pos,
    (f.stock_fisico - COALESCE(p.stock_pos, (0)::numeric)) AS diferencia
   FROM (public.v_stock_fisico f
     LEFT JOIN public.v_stock_pos p ON ((p.product_id = f.product_id)));


--
-- Name: v_stock_libros; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_stock_libros AS
 SELECT p.id AS product_id,
    p.sku,
    p.name,
    p.unit,
    p.marca,
    p.codigo_pos,
    p.min_stock,
    COALESCE(sum(mi.quantity) FILTER (WHERE (mi.libro = 'FISICO'::public.inv_libro)), (0)::numeric) AS stock_fisico,
    COALESCE(sum(mi.quantity) FILTER (WHERE (mi.libro = 'FISCAL_POS'::public.inv_libro)), (0)::numeric) AS stock_pos,
    COALESCE(sum(mi.quantity), (0)::numeric) AS stock_total
   FROM (public.productos p
     LEFT JOIN public.movimientos_inventario mi ON ((mi.product_id = p.id)))
  GROUP BY p.id, p.sku, p.name, p.unit, p.marca, p.codigo_pos, p.min_stock;


--
-- Name: categoria id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id SET DEFAULT nextval('public.categoria_id_seq'::regclass);


--
-- Name: movimientos_inventario id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario ALTER COLUMN id SET DEFAULT nextval('public.movimientos_inventario_id_seq'::regclass);


--
-- Name: producto_proveedor id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.producto_proveedor ALTER COLUMN id SET DEFAULT nextval('public.producto_proveedor_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: proveedores id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proveedores ALTER COLUMN id SET DEFAULT nextval('public.proveedores_id_seq'::regclass);


--
-- Name: categoria categoria_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_name_key UNIQUE (name);


--
-- Name: categoria categoria_name_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_name_unique UNIQUE (name);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id);


--
-- Name: movimientos_inventario movimientos_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_pkey PRIMARY KEY (id);


--
-- Name: producto_proveedor producto_proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.producto_proveedor
    ADD CONSTRAINT producto_proveedor_pkey PRIMARY KEY (id);


--
-- Name: producto_proveedor producto_proveedor_proveedor_id_supplier_sku_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.producto_proveedor
    ADD CONSTRAINT producto_proveedor_proveedor_id_supplier_sku_key UNIQUE (proveedor_id, supplier_sku);


--
-- Name: productos productos_no_identificacion_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_no_identificacion_key UNIQUE (sku);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: productos productos_sku_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_sku_unique UNIQUE (sku);


--
-- Name: proveedores proveedores_codigo_corto_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proveedores
    ADD CONSTRAINT proveedores_codigo_corto_key UNIQUE (codigo_corto);


--
-- Name: proveedores proveedores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proveedores
    ADD CONSTRAINT proveedores_pkey PRIMARY KEY (id);


--
-- Name: idx_codigo_pos; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_codigo_pos ON public.productos USING btree (codigo_pos);


--
-- Name: idx_mov_product_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mov_product_date ON public.movimientos_inventario USING btree (product_id, movement_date);


--
-- Name: idx_mov_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mov_type ON public.movimientos_inventario USING btree (movement_type);


--
-- Name: idx_movinv_libro_prod_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_movinv_libro_prod_fecha ON public.movimientos_inventario USING btree (libro, product_id, movement_date);


--
-- Name: idx_movinv_proveedor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_movinv_proveedor ON public.movimientos_inventario USING btree (proveedor_id);


--
-- Name: idx_prodprov_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prodprov_product ON public.producto_proveedor USING btree (product_id);


--
-- Name: idx_prodprov_prov; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prodprov_prov ON public.producto_proveedor USING btree (proveedor_id);


--
-- Name: idx_productos_categoria_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_productos_categoria_id ON public.productos USING btree (categoria_id);


--
-- Name: idx_productos_category_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_productos_category_id ON public.productos USING btree (categoria_id);


--
-- Name: idx_productos_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_productos_is_active ON public.productos USING btree (is_active);


--
-- Name: idx_productos_name_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_productos_name_trgm ON public.productos USING gin (name public.gin_trgm_ops);


--
-- Name: ix_movs_product_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_movs_product_date ON public.movimientos_inventario USING btree (product_id, movement_date DESC, id DESC);


--
-- Name: ix_movs_product_libro; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_movs_product_libro ON public.movimientos_inventario USING btree (product_id, libro);


--
-- Name: ix_productos_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_productos_name ON public.productos USING btree (name);


--
-- Name: uq_productos_sku; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_productos_sku ON public.productos USING btree (sku) WHERE ((sku IS NOT NULL) AND ((sku)::text <> ''::text));


--
-- Name: uq_proveedores_codigo_corto; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_proveedores_codigo_corto ON public.proveedores USING btree (codigo_corto) WHERE ((codigo_corto IS NOT NULL) AND (codigo_corto <> ''::text));


--
-- Name: uq_proveedores_rfc; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_proveedores_rfc ON public.proveedores USING btree (rfc) WHERE ((rfc IS NOT NULL) AND (rfc <> ''::text));


--
-- Name: ux_productos_codigo_pos; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_productos_codigo_pos ON public.productos USING btree (codigo_pos) WHERE ((codigo_pos IS NOT NULL) AND ((codigo_pos)::text <> ''::text));


--
-- Name: categoria fk_categoria_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT fk_categoria_parent FOREIGN KEY (parent_id) REFERENCES public.categoria(id);


--
-- Name: movimientos_inventario movimientos_inventario_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.productos(id);


--
-- Name: movimientos_inventario movimientos_inventario_proveedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_proveedor_id_fkey FOREIGN KEY (proveedor_id) REFERENCES public.proveedores(id);


--
-- Name: producto_proveedor producto_proveedor_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.producto_proveedor
    ADD CONSTRAINT producto_proveedor_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.productos(id);


--
-- Name: producto_proveedor producto_proveedor_proveedor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.producto_proveedor
    ADD CONSTRAINT producto_proveedor_proveedor_id_fkey FOREIGN KEY (proveedor_id) REFERENCES public.proveedores(id);


--
-- Name: productos productos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categoria(id);


--
-- PostgreSQL database dump complete
--

\unrestrict AjJe2H5R3HyVXc3pmES9a6VXECCgVWZ6ZhFcfiVUEgyJ0rv2pzZ5WB8zPYxGgjL

